# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
build/
*.egg-info/

# Temporary / OS
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
*.swo
*~

# Archives & Logs
*.log
dist/*.zpaq

# Cache & Testing
.cache/
.pytest_cache/
